<!DOCTYPE html>
<html>
<head>
	<title>SpeedWriter</title>
	<link rel="stylesheet" type="text/css" href="../public/styles/main.css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
	<script src="../public/scripts/app.js"></script>
</head>
<body>
	<nav class='navbar navbar-default'>
		<div class='container-fluid'>
			<div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		    </div>
			<div class='collapse navbar-collapse'>
				<ul class='nav navbar-nav'>
					<li><a href='about.html'>About</a></li>
					<li><a href='#'>Login</a></li>
					<button id='signup'>Signup</button>				
				</ul>		
			</div>
		</div>
	</nav>
	<span id='word-count'>Word Count: <span id='count'>0</span></span>
	<span class='pull-right' id='num-span'>
		<form id='word-input'>
			Words Per Hour:
			<input id='num' type="number" name="quantity" min="1" max="2000" placeholder='1000' value='1000'>
		</form>
	</span><br>
	<div class='pull-right' id='timer-container'>
		<h1 id='time'>00:00:00</h1>
		<button id="start">start</button>
		<button id="stop">stop</button>
		<button id="clear">clear</button>
		<button id='hide' onclick="hide()">hide</button>
	</div>
	<button class='pull-right' id='show' onclick="show()">show timer</button>

	<br><br>
	<span id='font-change'>Font Size
		<select name='font-size'>
			<option value='12'>12</option>
			<option value='18'>18</option>
			<option value='24'>24</option>
		</select>
	</span>
	<input id='title' class='center-block' placeholder="title"><br>


	<textarea id="mainText" cols="90%" rows="50"></textarea>
</body>
</html>