	<span id='doc_id'>{{docsEditCtrl.doc._id}}</span>
	<span id='word-count'>Words Added: </span><span>{{logged}}</span>
	<span id='startWordCount'>Total: </span><span id='total'>{{total}}</span>
	<span class='pull-right' id='num-span'>
		<form id='word-input'>
			Words Per Hour:
			<input id='num' type="number" name="quantity" min="1" max="2500" ng-model=pace value='1000'>
		</form>
	</span><br>
	<div class='pull-right' id='timer-container'>
		<h1 id='time'>{{Timer}}</h1>
		<button id="start" ng-click="start()">start</button>
		<button id="stop" ng-click="stop()">stop</button>
		<button id="clear" ng-click="clear()">clear</button>
		<button id='hide' onclick="hide()">hide</button>
	</div>
	<button class='pull-right' id='show' onclick="show()">show timer</button>
	<br><br>
	<span id='font-change'>Font Size:
		<select name='font-size' id='font-size'>
			<option value='12'>12</option>
			<option value='18'>18</option>
			<option value='24'>24</option>
			<option value='30'>30</option>		
		</select>
	</span>
	<span class='checkbox' title='on hitting enter indentation automatically inserted'>Auto-Indent<input class="checkbox" type="checkbox" ng-model="autoindent" ng-true-value=true ng-false-value=false></span>
	<span class='checkbox' title='changes color of text if typing below pace'>Track Speed<input class="checkbox" type="checkbox" ng-model="trackSpeed" ng-true-value=true ng-false-value=false></span><br>
	<span id='saveDoc'><button ng-click="updateDoc()">Update Doc</button></span>
	<span ng-if="docsEditCtrl.doc.start_count == 0" id='deleteDoc'><button ng-click="cancel()">delete document</button></span>
	<span ng-if="docsEditCtrl.doc.start_count > 0" id='deleteDoc'><button ng-click="back()">don't save</button></span><br>
	<span id='saveDoc'><button id='word' onclick="word()">Save as word</button></span>
	<input id='title' class='center-block' placeholder="title" value="{{docsEditCtrl.doc.title}}"><br>


	<textarea id="mainText" cols="90%" rows="50" ng-model='mainText' ng-init='init()' ng-keydown="keydownevt()">{{docsEditCtrl.doc.content}}</textarea>
