	<span id='doc_id'>{{docsEditCtrl.doc._id}}</span>
	<span id='word-count'>Word Count: <span id='count'>0</span></span><span><input id='startWordCount' type='number' value="{{docsEditCtrl.doc.start_count}}"></span>
	<span class='pull-right' id='num-span'>
		<form id='word-input'>
			Words Per Hour:
			<input id='num' type="number" name="quantity" min="1" max="2000" placeholder='1000' value='1000'>
		</form>
	</span><br>
	<div class='pull-right' id='timer-container'>
		<h1 id='time'>00:00:00</h1>
		<button id="start">start</button>
		<button id="stop">stop</button>
		<button id="clear">clear</button>
		<button id='hide' onclick="hide()">hide</button>
	</div>
	<button class='pull-right' id='show' onclick="show()">show timer</button>
	<button ng-click="log()">log</button>
	<span>{{logged}}</span>
	<br><br>
	<span id='font-change'>Font Size
		<select name='font-size'>
			<option value='12'>12</option>
			<option value='18'>18</option>
			<option value='24'>24</option>
			<option value='30'>30</option>		
		</select>
	</span>
	<span id='saveDoc'><button onclick="updateDoc()">Update Doc</button></span><button id='word' onclick="word()">Save as word</button><span id='docspan'></span>
	<input id='title' class='center-block' placeholder="title" value="{{docsEditCtrl.doc.title}}"><br>


	<textarea id="mainText" cols="90%" rows="50">{{docsEditCtrl.doc.content}}</textarea>