#signup {
	margin-top: 9px;
}

#mainText {
	width: 84%;
	margin-left: 7%;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 16px;
}

#title {
	width: 300px;
	height: 40px;
	font-size: 30px;
	text-align: center;
}

#num {
	width: 60px;
	border-radius: 5px;
}

#num-span {
	margin-right: 5%;
}

body {
	background-color: lightgrey!important;
}

#timer-container {
	position: absolute;
	right: 5%;
	margin-top: 5px;
}

#time {
	margin-top: 0;
	margin-right: 10px;
}

#word-count {
	margin-left: 4%;
}

#show {
	display:none;
}

#signup {
	margin-top: 12px;
}

#font-change {
	margin-left: 4%;
}

#saveDoc {
	display:block;
	margin-left:4%;
	margin-top:1%;
}

.button {
	background-color: white;
	padding: 4px;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.header {
	display:inline!important;
}

#see_count {
	display: inline;
	float:right;
	margin-right:4%;
}

#startWordCount {
	width: 50px;
	margin-left: 10px
}

#doc_id {
	display: none;
}

.doc-container {
	display: inline-block;
	width: 30%;
	margin-left: 2%;
	text-decoration: none;
}

.doc-content {
	height: 50px;
	text-align: left;
}

#doc-title {
	margin: 30%;
	font-size: 1.3em;
}

#new {
	height: 30px;
	border-radius: 5px;
	margin-left: 2%;
}

.delete {
	float: right;
	border: none;
	background-color: lightgrey; 
}