#signup {
	margin-top: 9px;
}

#mainText {
	width: 84%;
	margin-left: 7%;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 16px;
}

#title {
	width: 300px;
	height: 40px;
	font-size: 30px;
	text-align: center;
}

#num {
	width: 60px;
	border-radius: 5px;
}

#num-span {
	margin-right: 5%;
}

body {
	background-color: lightgrey!important;
}

#timer-container {
	position: absolute;
	right: 5%;
	margin-top: 5px;
}

#time {
	margin-top: 0;
	margin-right: 10px;
}

#word-count {
	margin-left: 4%;
}

#show {
	display:none;
}

#signup {
	margin-top: 12px;
}

#font-change {
	margin-left: 4%;
}

#saveDoc {
	display:block;
	margin-left:4%;
	margin-top:1%;
}