nav {
	margin-bottom: 5px;
}

input {
	background-color: white!important;
	font-size: inherit!important;
	border: 2px inset!important;
	height: inherit!important;
	margin: inherit!important;
	padding: inherit!important;
}

#signup {
	margin-top: 9px;
}

#mainText {
	width: 84%;
	margin-left: 7%;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 16px;
	background-color: white;
	height: 200rem;
}

#title {
	width: 26%!important;
	margin-left:37%!important;
	height: 40px!important;
	font-size: 30px!important;
	text-align: center!important;
	background-color: white;
	margin: auto;
}

#num {
	width: 60px;
	border-radius: 5px;
}

#num-span {
	margin-right: 5%;
}

body {
	background-color: lightgrey!important;
}

#timer-container {
	position: absolute;
	right: 5%;
	margin-top: 5px;
}

#time {
	margin-top: 0;
	margin-right: 10px;
}

#word-count {
	margin-left: 4%;
}

#show {
	display:none;
}

#signup {
	margin-top: 12px;
}

#font-change {
	margin-left: 4%;
}

#saveDoc {
	display:block;
	margin-left:4%;
	margin-top:1%;
}

.button {
	background-color: white;
	padding: 4px;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.header {
	display:inline!important;
}

#see_count {
	display: inline;
	float:right;
	margin-right:4%;
}

#startWordCount {
	width: 50px;
	margin-left: 10px;
	border-radius: 5px;
}

#doc_id {
	display: none;
}

.doc-container {
	text-decoration: none;
	height: 250px;
	overflow: hidden;
}

.doc-content {
	height: 50px;
	text-align: left;
	margin: 5px;
	color: black;
	text-decoration: none
}

#doc-title {
	margin: 30%;
	font-size: 1.3em;
	color: black;
}
#font-size {
	width: 4%;
	display:inline;
	margin-left: 4px;
	height: 2em;
	border: none;
}

#new {
	height: 30px;
	border-radius: 5px;
	margin-left: 2%;
	margin-top: 10px;
}

.delete {
	float: right;
	border: none;
	background-color: lightgrey; 
}

.doc-container:hover {
	background-color: lightblue;
	opacity: .7;
}

#demo {
	position: absolute;
	left: 90%;
	top: 16%;
	background-color: lightblue;
	padding: 15px;
	border-radius: 15px;
	color: #997855!important;
}

.checkbox {
	opacity: 1!important;
	position:relative!important;
	left: 5px!important;
	display: inline-block!important;
}

.checklabel {
	font-size: 1em
}